hr {color:sienna;}
p {
    text-align: center;
    font-size:50px;
    color:green;  
} 
body
{
    /* background-image:url("E:/图片/人物/猫娘/66631831_p0.jpg"); */
    background-repeat:no-repeat;
    background-size: 100%;
    background-color:rgb(153, 153, 194);
}